// $font-sm:
// $font-med:
// $font-lg:
// $font-xlg:

// Colors
$primaryBlue: #0f255f;
$activeViolet: #536dfe;
$deepBlue: #1750ff;
$lightViolet: #e8e8ff;

$textPrimary: #041131;
$textSecondary: #0f42df;

$white: #ffffff;
